body {
  background: #FFFFFF;
}

.header {
  background: linear-gradient(180deg, #7395ED 0%, #DBE5FF 100%);
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

.header-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.header-search-input-button-div{
  display: flex;
  justify-content:center;
}

.header-search-input {
  width: 80%;
  height: 20px;
}

.header-search-button {
  width: 45px;
  background-color: #8EA0CF;
  border: 0px;
  height: 28px;
}
.header-search-button img {
  margin: 5px;
  height: 18px;
}

/** Body **/

.caw-body{
  display: flex;
  flex-direction: horizontal;
}

.search-result-container{
  width: 75%;
  padding-left: 30px;
  padding-top: 25px;
}
